[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "gcc"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "python manage.py collectstatic --noinput && python manage.py migrate && gunicorn ai_teacher_backend.wsgi --bind 0.0.0.0:$PORT --log-file -"
